.vp-doc blockquote {
  margin: 2em 0;
  padding-left: 16px;
  border-left: 4px solid rgba(60, 60, 67, 0.12);
  position: relative;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-end: 40px;
  background-color: #f3f5f7;
  border-color: #42b983;
}


